/.idea
/.svn
/webapp
/gameServer/gameApp/gameApp.exe
/gameServer/gameApp/gameApp.exe
/gameServer/gameApp/gameServer.json
/hallServer/hallApp/hallApp.exe
/gameServer/gameApp/gameApp
/hallServer/hallApp/hallApp
/hallServer/hallApp/hallServer.json
/build.bat
./gameServer.json
